# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Secrets
.env
.env.*

# Certificates
*.pfx
*.p12
*.key
*.pem

# Temporary files
*.tmp
*.bak
